@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fz: 16px;
  }
  
  html {
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: content-box;
  }
  
  body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--fz);
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  a {
    color: #09f;
    font-size: 16px;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  input, select {
    display: inline-block;
  }
  
  .buttons {
    display: flex;
  }
  
  .buttons > *{
    margin-right: 2rem;
  }
  
  button, .button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px ;
    font-size: calc(var(--fz) * 1.2);
    padding: 0.5rem 1rem;
    height: 1.5rem;
  }
  
  button.disabled,
  button.disabled:hover {
    background-color: #b5b3b3;
    color: #000;
    opacity: .2;
  }
  
  button:hover,
  button:active {
    transition: ease .3s;
  }
  
  input[type='submit'] {
    border-radius: 5px ;
  }
  
  p {
    text-align: justify;
  }
  

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

#root > header {
    padding-left: 2rem;
    height: 20vh;
}

#root > main {
    margin-top: auto;
}

#root > footer {
    margin-top: auto;
}